body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  overflow: hidden;
  width: 80%;
  max-width: 600px;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  width: 100%;
}

.carousel-button {
  position: absolute;
}

.prev {
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50px;
}
.next {
  top: 50%;
  transform: translate(-50%, -50%);
  right: 25px;
}
